:root {
    --purple: #5280E2;
    --green:  #15CDCB;
    --bg-dark: #212226;
    --light-grey: white;


    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--light-grey)
}

button {
    background: var(--purple);
    border: o;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.tittle-purple {
    color: var(--purple);
}

.tittle-green {
    color: var(--green);
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}
header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 24px;
    color:#15CDCB;
    text-decoration: none;

}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;

}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;

}

.about-me .img-container img {
    width: 80%;
    text-align: center;
    position: relative;


}

.about-me .img-container .line {
    width: calc(70% + 50px);
    height: calc(90% + 50px);
    border: 1px solid var(--purple);

    position: absolute;
    top: -10px;
    left: calc(50% - 70%/2 - 15px);
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    color: var(--green);
}

/* Responsividade */

/* small desktop */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: o 30px;
    }
}


/* Tablet */
@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin-bottom: 70px;
    }

    nav img {
        padding: none;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
    
}


/* celular */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;  
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }


}