:root {
    --purple: #5280E2;
    --green:  #15CDCB;
    --bg-dark: #212226;
    --light-grey: white;


    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--light-grey)
}

button {
    background: var(--purple);
    border: o;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.title-purple {
    color: var(--purple);
}

.title-green {
    color: var(--green);
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}
header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;

    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 24px;
    color:#15CDCB;
    text-decoration: none;

}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;

}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;

}

.about-me .img-container img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.about-me .img-container .line {
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--green);

    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    color: var(--purple);
}

/* Serviços */

.services {
    text-align: center;
    margin: 100px 0;
    padding: 0 150px;

}

.services-container, .portfolio-container {
    margin-top: 60px;
    display: flex;
    justify-content:space-between;
    max-width: 1300px;
    margin: 0px auto 0px 90px ;
}

.services .services-container .service-card {
    max-width: 360px;
    background: #2F3034;
    border: 1px solid var(--purple);
    border-radius: 16px;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services .services-container .service-card img {
    margin-bottom: 40px;
    width: 90px;

}

.service-card + .service-card {
    margin-left: 10px;
}

.portfolio {
    padding: 0 100px;
    margin-bottom: 100px;
    text-align: center;
    background: url(assets/portfolio-bg.png);
}

.portfolio .portfolio-container .portfolio-card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    border: 1px solid white;
    border-radius: 16px;
    max-width: 450px;
    text-align: left;
    padding: 50px 25px;

}

.portfolio .portfolio-container .portfolio-card .img-container {
    margin: 0 25px 50px;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
    width: 100%;
}

.portfolio .portfolio-container .portfolio-card .language-container {
    margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 8px;
    padding: 3px 15px;
}

.portfolio-card .language-container ul li + li {
    margin-left: 10px;
}

.portfolio-card + .portfolio-card {
    margin-left: 10px;
}

p {
    margin: 0;
}

/* Responsividade */

/* small desktop */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .container .about-me .img-container {
        width: 100%;
    }

    .about-me .container {
        padding-right: 0;
    }

    .about-me .img-container {
        margin: 50px 0;
    }

    .services {
        padding: 0;
    }

    .services .services-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

    .service-card {
        height: 394px;
    }

    .service-card + .service-card {
        margin-left: 0;
        margin-top: 30px;
    }


/* Tablet */
@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin-bottom: 70px;
    }

    nav img {
        padding: none;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
    
}


/* celular */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;  
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }

    .about-me {
        padding: 40px;
    }

    .services {
        margin: 70px 0;
    }

    .services .services-container {
        padding: 0 20px;
    }
}}